<html>

<head>
  <link rel="stylesheet" href="../css/popup.css" />
</head>

<body>
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">Amazon</div>
    <div class="inputs">
     
      <form id="form">
        <label>ADD TOKEN</label>
        <input id="token" type="text" placeholder="ExA-************_*****" required />
        <label>ADD URL</label>
        <input id="url" type="text" placeholder="http://***" required />
        <div id="loader" class="loader"></div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <script src="../js/popup.js"></script>
</body>

</html>